!!! 5
%html
  %head
    %title= Time.now
    %meta{charset: "utf-8"}
  %body
    - @to_hash.each do |key, value|
      %details
        %summary{class: "collapse #{value['type']}"}
          = "#{key} #{value['cover']}"
        %div{class: 'group'}
          %div{class: 'section'}
            %div
              %b main json-schema
              %xmp
                = value['json_schema']
